.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 100px;
    background-color: rgb(253, 253, 253);
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    z-index: 200;
}
.side-value{
    width: 90px;
    height: 90px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.side-value:hover{
    background-color: rgb(239, 237, 237);
    cursor: pointer;
}
.side-icon{
    height: 40px;
    margin-bottom: 4px;
}
.side-font{
    font-size: 12px;
}

